<h1>Welcome.</h1>
<h3>My name is Joseph Monreal, I'm a front-end developer based in Miami, FL. I started
    this journey when I attended the University of Arizona. Going in blindly, I had no prior
    technical experience but I decided to give myself a shot. The first course that I remember taking
    was CSC 127A: Introduction to Programming. Six years later, I'm still doing this thing called nerding.
    Jokes aside it's definitely been a journey and I've been able to acquire enough knowledge so I don't have
    to spend hours on Stack Overflow. My first professional gig was as a Technical Product Specialist for an insurance
    company by the name of Mercury Insurance. I was working with the software known as Guidewire. After this position
    I found myself working as a Web Developer. I then decided to partake in a Bootcamp because it seemed like
    the hot thing to do at the time to get a job. I have my opinions about this... Anyways the bootcamp I attended was
    by Galvanize known as the Hack Reactor: Software Engineering Immersive Program. Shortly after bootcamp I was hired
    to
    work for U-Haul. I've been here since 2021 and I've had the flexibility to work in manual testing, automation
    testing,
    and development work. The last one being what I want to continue pursuing professionally and where I find myself
    enjoying
    my days rather than wanting to take a trip to Europe. Actually, on second thought that Europe trip still sounds
    better.
    Sorry, I can't help myself... Finally, I was recently hired on February 2023 as a Software Developer.
    This opportunity really exposed the fact that I'm truly passionate about this craft. Anyways thats enough about me.
    I honestly
    was going to skip out on this and not even include it within this portfolio but felt it would be better
    to let you get to know me a bit. Buh Bye!
</h3>